<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="教务管理系统.Properties.Settings.demo1" connectionString="Data Source=leon;Initial Catalog=soft;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="教务管理系统.Properties.Settings.成绩录入" connectionString="Data Source=leon;Initial Catalog=soft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>