<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="学籍管理_demo.Properties.Settings.stuMessageConnectionString"
            connectionString="Data Source=LEON;Initial Catalog=stuMessage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="学籍管理_demo.Properties.Settings.softConnectionString"
            connectionString="Data Source=DESKTOP-1P0PS9U\SQLEXPRESS;Initial Catalog=soft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>